<div class="center jumbotron">
  <div class="row">
    <% search_images_by_title.each do |image| %>
      <div class="col-md-4 thumbnail">
        <%= render 'images/image', image: image %>
      </div>
    <% end %>
  </div>
</div>