<div class="row">
    <% if @userimg.any? %>
        <% @userimg.each do |image| %>
        <div class="col-sm-4">
            <a href=<%= image_path(image.id) %> class="thumbnail image-div" target="_blank">
                <h4><%= image.name %></h4>
                <%= image_tag image.file, style: "max-width:200px;max-height:200px" %>
            </a>
        </div>
        <% end %>
    <% end %>
</div>
<div class="pagination-sm col-sm-12">
  <%= will_paginate @userimg, renderer: BootstrapPagination::Rails %>
</div>