@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables... */

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3px;
}

.button {
  &:visited {
    color: white;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  text-align: center;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin: 5px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
  background: none;
}

/* search bar */

#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
    height: 40px;
    input {
        border: 0;
        box-shadow: none;
        height: 35px;
    }
    button {
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
        &:hover {
            border: 0;
            box-shadow: none;
            border-left: solid 1px #ccc;
        }
    }
    .glyphicon-search {
        font-size: 23px;
    }
}

.custom-search {
  float: left;
  margin-top: 5px;
  margin-left: 15px;
  width: 500px;
}

/* pagination */
.pagination {
  a {
    color: #777!important;
  }
}

.active span {
    background-color: #555!important;
    border: 1px solid #DDD!important;
}