<div class="center jumbotron">
  
  <h1>Listing Images</h1>
  
  <div class="row">
    <%= render @images %>
  </div>
  <div class="pagination">
    <%= will_paginate @images, class: 'pagination', renderer: BootstrapPagination::Rails %>
  </div>

</div>
